/* 改变主题色变量 */

$--color-primary: #4af0fe;
$--color-white: #ffffff;
$--background-color-base: #1f576b;
$--color-text-regular:#ffffff;
$--font-size-extra-large:20px;
$--font-size-large:20px;
$--font-size-medium:16px;
$--font-size-base:16px;
$--font-size-small:12px;
$--font-size-extra-small:12px;
$--font-weight-primary:500;
$--messagebox-title-color:#4af0fe;
$--button-primary-font-color:#fcfcfc;
$--button-default-font-color:#fcfcfc;
$--button-default-background-color:transparent;
$--input-background-color:transparent;
$--dialog-background-color:#1f576b;
$--table-header-background-color:#1f576b;
$--collapse-header-background-color:transparent;
$--collapse-content-background-color:transparent;
$--collapse-header-font-size: 16px;
$--tab-header-color:#ffffff;

/* 改变 icon 字体路径变量，必需 */

$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";
.el-select-dropdown.el-popper,
.el-scrollbar {
    background-color: $primary;
}

.el-table__fixed-right {
    background-color: #1A3348;
    box-shadow: -15px 0px 10px #1A3348;
    border-left: solid 1px $sub;
}

[class*="el-button"].is-plain:hover {
    color: $white;
}

.el-collapse-item__content,
.el-collapse-item__header,
.el-form-item__label {
    color: $white;
}

.el-pagination__total,
.el-pagination__jump {
    color: $white;
}

.el-dialog__title {
    color: $white;
}

.el-dialog {
    background: url('../../assets/imgs/dialogBg.png')no-repeat center center;
    background-size: 100% 100%;
}

.el-drawer__body,
.el-drawer {
    background: transparent;
}

.el-dialog {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100% - 30px);
    max-width: calc(100% - 30px);
}

.el-dialog .el-dialog__body {
    flex: 1;
    // background-color: transparent;
    /* overflow: auto; */
}

.el-message-box {
    background-color: #1f576b;
    background-image: url('../../assets/imgs/dialogBg.png');
    background-size: 100% 100%;
    border: #1A3348 solid 1px;
}

.el-table,
.el-table tr,
.el-table td {
    background-color: transparent;
}

.el-button:hover,
.el-button:focus {
    color: #4af0fe;
    background-color: transparent;
    border: 1px solid #4af0fe;
}

.el-button.el-button--default.is-plain:hover,
.el-button.el-button--default.is-plain:focus {
    color: #4af0fe;
    background-color: #4aeffe34;
    border: 1px solid #4af0fe;
}

.el-button.el-button--primary.is-plain,
.el-button.el-button--primary.is-plain {
    background-color: rgba(#4aeffe, 0.5);
}

.el-button.el-button--warning.is-plain,
.el-button.el-button--warning.is-plain {
    background-color: rgba(#E6A23C, 0.5);
}

.el-button.el-button--danger.is-plain,
.el-button.el-button--danger.is-plain {
    background-color: rgba(#F56C6C, 0.5);
}

.el-button.el-button--success.is-plain,
.el-button.el-button--success.is-plain {
    background-color: rgba(#67C23A, 0.5);
}

.el-button.el-button--text:hover {
    border: none;
}

.el-collapse-item__header {
    border-bottom: 1px solid $sub;
}

.el-tabs__item {
    color: $white;
    text-align: center;
    padding: 0;
}

.el-table__body tr.current-row>td {
    background-color: #00BCD4;
}

.el-popper[x-placement] .popper__arrow::after {
    border-bottom-color: $primary;
}

.el-tree{
    background: transparent;
}
