/* 弹框样式 */
.newStyleDialog .el-dialog{
  /* background: url(/static/img/dialogBg.png) no-repeat center center; */
    background: url(../imgs/dialogBg.png)no-repeat center center;
	background-size: 100% 100%;
	
}
.newStyleDialog .el-dialog__title{
	color: white!important; 
	font-size: 0.9vw;
}
.jbqkTable_dialog {
	width: 80%!important;
	height:75vh;
}
.jbqk_add_table1_dialog{
	width:45%!important;
	min-width:600px ;
	height:80vh;
}
.jbqk_add_table3_dialog{
	width:40%!important;
	min-width:750px ;
	height:60vh;
}
.jbqk_add2_table1_dialog{
	width:30%!important;
	min-width:400px ;
	height:80vh;
}
.table_page{
	margin-top: 3vh;
	text-align: center;
}
.table_page .el-pagination__total,.table_page .el-pagination__jump{
	color: white!important;
}
.header_table_title{
	color: white;
}
.el-form-item__label{
	color: white!important;
}
.shopClose {
    position: absolute;
    right: 0;
    bottom: 0;
    color: red;
    font-size: 23px;
	display: none;
	cursor: pointer;
}
.dialog_foot{
	text-align: center;
}
.tableHeader{
	display: inline-block;
	text-align: center;
}
.button-l{
	width: 6vw;
    height:3vh;
    line-height:3vh;
	min-width: 120px;
	padding: 0!important;
}
.el-dialog{
       display: flex;
       flex-direction: column;
       margin:0 !important;
       position:absolute;
       top:50%;
       left:50%;
       transform:translate(-50%,-50%);
       max-height:calc(100% - 30px);
       max-width:calc(100% - 30px);
   }
   .el-dialog .el-dialog__body{
       flex:1;
       /* overflow: auto; */
   }