/* 弹框样式 */
.newStyleDialog .el-dialog{
  /* background: url(/static/img/dialogBg.png) no-repeat center center; */
    background: url(../imgs/dialogBg.png)no-repeat center center;
	background-size: 100% 100%;
	
}
.newStyleDialog .el-dialog__title{
	color: white!important; 
	font-size: 0.9vw;
}
.jbqkTable_dialog {
	width: 80%!important;
	height:75vh;
}
.jbqk_add_table1_dialog{
	width:45%!important;
	min-width:600px ;
	height:80vh;
}
.table_page{
	margin-top: 3vh;
	text-align: center;
}
.table_page .el-pagination__total,.table_page .el-pagination__jump{
	color: white!important;
}
.header_table_title{
	color: white;
}
.el-form-item__label{
	color: white!important;
}
.shopClose {
    position: absolute;
    right: 0;
    bottom: 0;
    color: red;
    font-size: 23px;
	display: none;
	cursor: pointer;
}
.dialog_foot{
	text-align: center;
}