
/* .jbqkTable_dialog {
    width: 80%!important;
    height: 75vh;
} */
.jbqkTable_dialog {
    width: 80%!important;
    height: 700px;
}
.jbqk_add_table1_dialog {
    width: 45%!important;
    min-width: 600px;
    height: 80vh;
}

.jbqk_add_table3_dialog {
    width: 40%!important;
    min-width: 750px;
    height: 60vh;
}

.jbqk_add2_table1_dialog {
    width: 30%!important;
    min-width: 400px;
    height: 80vh;
}

.table_page {
    margin-top: 3vh;
    text-align: center;
}
.header_table_title {
    /* color: white; */
} 


.shopClose {
    position: absolute;
    right: 0;
    bottom: 0;
    color: red;
    font-size: 23px;
    display: none;
    cursor: pointer;
}

.dialog_foot {
    text-align: center;
}

.tableHeader {
    display: inline-block;
    text-align: center;
}

.button-l {
    width:130px;
    height: 30px;
    line-height:30px;
    min-width: 120px;
    padding: 0!important;
}
/* .button-l {
    width: 6vw;
    height: 3vh;
    line-height: 3vh;
    min-width: 120px;
    padding: 0!important;
} */